* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    font-size: 25px;
}

.card {
    width: 37vw;
    height: 45vh;
    border-radius: 50px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
    padding: 70px;
}

.username {
    font-size: medium;
    background-color: #d0ebf7;
    border-color: white;
    /* border-color: #4287f5; */
    border-radius: 5px;
    padding: 5px;
}

.password {
    font-size: medium;
    background-color: #d0ebf7;
    border-color: white;
    /* border-color: #4287f5; */
    border-radius: 5px;
    padding: 5px;
}

.button {
    background-color: #4287f5;
    /* background-color: #d0ebf7; */
    border-color: #4287f5;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    padding: 5px;
}